---
import { NETWORKS } from "@constants";
import { Icon } from 'astro-icon/components'
---
<article class="flex gap-2">
    {NETWORKS.map(({network, username, url, icon, color}) => (
        <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Visit el perfil de ${username} en ${network}`}
            class="btn rounded-full"
            style={`background-color: ${color};`}
        >
            <Icon name={icon} size="1rem" class="text-zinc-100"/>
        </a>
    ))}
</article>