---
import type { Milestone } from 'contents/milestones';
interface Props { milestone: Milestone };
const { milestone } = Astro.props;

const getDateTime = (date: Date) => {
    return date.toLocaleDateString('es', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    })
}

const getDateFormat = (date: Date) => {
    return date.toLocaleDateString('es', {
        year: 'numeric',
        month: 'long'
    })
}
---

<li class="ms-7 mb-7">
    <div class="absolute w-11 h-11 flex items-center justify-center rounded-full mt-1.5 -start-6 bg-primary">
        {milestone.type === 'work' ? 'T' : 'E'}
    </div>

    <section class="grid md:grid-cols-7 gap-3">
        <header class="col-span-3 pb-6">
            <h3 class="text-xl font-bold text-primary">{milestone.title}</h3>
            <h4 class="font-semibold text-xl text-gray-600">{milestone.organization}</h4>
            <div class="text-sm text-gray-600/80">
                <time datetime={getDateTime(milestone.startDate)}>
                    {getDateFormat(milestone.startDate)}
                </time>

                <span>-</span>

                <time datetime={getDateTime(milestone.endDate || new Date())}>
                    { milestone.endDate ?
                        getDateFormat(milestone.endDate) :
                        'presente'
                    }
                </time>
            </div>
        </header>
        <article class="col-span-4 text-gray-600">{milestone.summary}</article>
    </div>
</li>