---
import { getCollection, render } from "astro:content";
import Button from "@components/Button.astro";
import Icons from "@icons";
import TechStack from "@components/TechStack.astro";
import Section from "@components/Section.astro";

const projects = await getCollection("projects");
---
<Section title="Proyectos" icon="code">
    <ul>{ projects.map(async project => {
        const { Content } = await render(project);
        return (
            <li class="flex flex-col md:flex-row gap-8">
                <picture class="flex flex-1 flex-col justify-center">
                    <img class="rounded-lg w-auto" src={project.data.image} alt={project.data.title}/>
                </picture>

                <article class="flex flex-1 flex-col gap-4">
                    <h3 class="text-4xl font-bold break-words text-slate-800">{project.data.title}</h3>

                    <div class="text-xl font-medium text-pretty text-slate-700 w-full">
                        <Content />
                    </div>

                    <TechStack techs={project.data.techStack}/>

                    <nav class="flex gap-4">
                        { project.data.repo && (
                            <Button href={project.data.repo} type="flat" label={`Código fuente de ${project.data.title}`}>
                                Código <Icons.github/>
                            </Button>
                        )}
                        { project.data.url && (
                            <Button href={project.data.url} type="flat" label={`Demo de ${project.data.title}`}>
                                Demo <Icons.externalLink/>
                            </Button>
                        )}
                    </nav>
                </article>
            </li>
        )
    }) }</ul>
</Section>